<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore Recipes</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>

  <body>
    <!-- Nav Menu -->
    <section class="hero">
      <nav>
        <a href="index.html"></a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            {{#if logged_in}}
              <li><a href="/">HOME</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="/recipes">RECIPES</a></li>
              <li><a href="/profile">PROFILE</a></li>
              <li><a id="logout">LOGOUT</a></li>
            {{else}}
              <li><a href="/login">LOGIN</a></li>
              <li><a href="/register">SIGN UP</a></li>
            {{/if}}
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>

      <!-- Dynamic HTML form handlebar -->
      <main>
        {{{body}}}
      </main>
    </section>

    <!-- Footer -->
    <footer class="flex-row justify-center">
    </footer>

    <!-- Make logout form logic available if logged in -->
    {{#if logged_in}}
      <script src="./js/logout.js"></script>
    {{/if}}
  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/05f9df7f95.js" crossorigin="anonymous"></script>
  <script src="./js/index.js"></script>
</html>