<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore Recipes</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" href="public/assets/css/style.css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Nav Menu -->

    <div class="ui fixed menu">
      <div class="ui container">
        <a class="item hugeText header" href="/">Explore Recipes</a>
        {{#if logged_in}}
          <a href="/profile">profile</a>
          |
          <button class="no-button" id="logout">Logout</button>
          <a class="item theFont right aligned" id="addRecipe">Add a Recipe</a>
          <a class="item theFont" id="recentAdd">Recently Added</a>
        {{else}}
          <a class="item theFont right aligned" href="/login">Login</a>
        {{/if}}
      </div>
    </div>

    <main>
      {{{body}}}
    </main>

    <footer class="flex-row justify-center">
    </footer>
  </body>

</html>