<section>
    <div class="ui very relaxed items">
      <div class="item">
        <img
          class="ui bordered image"
          src="/images/about-meme.gif"
          id="about-me-image"
        />
        <div class="content">
          <div
            class="ui banner test ad"
            data-text="Who We Are"
            id="about-me-banners"
          ></div>
          <div class="description" id="about=me=description">
            <p id="about-me-mission">
              Decision-making can be difficult, especially when it comes to choosing
              what to eat. Founded in 2022 as localhost:3001, Dinner Spinner changed
              the food world by providing the tools to share recipes and cooking
              tips, while celebrating the expertise of home cooks online.
              <br />
              <br />
              Every day, cooks from around the world publish recipes and inspire one
              another through recipe photos, ratings, reviews, and videos. The
              combination of the Dinner Spinner community provides authority found
              nowhere else on the internet and has turned the brand into an
              indispensable resource for cooks of all skill levels.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="ui grid">
      <div
        class="ui centered banner test ad"
        data-text="Testimonials"
        id="about-me-bannerss"
      ></div>
       <div class="description" id="about=me=description">
            <p id="about-me-mission" class="testimonial-mission">
              We value every single one of our users, and we make it our mission to make sure your experience here is the best.
              <br>
              Here are some words from just some of our most valuable users.
            </p>
          </div>
    </div>
  
    <div class="ui centered grid">
      <div class="four wide column">
        <div class="ui centered card">
          <div class="ui small circular bordered image">
            <img src="/images/avatar-1.png" />
          </div>
          <div class="content">
            <div class="description">
              "AllRecipes.com could never"
            </div>
          </div>
          <div class="extra content">
        <div class="ui large transparent left icon input">
          <span class="right floated">
          <i class="heart outline like icon"></i>
          2M likes
        </span>
        </div>
      </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui centered card">
          <div class="ui small circular bordered image">
            <img src="/images/avatar-2.png" />
          </div>
          <div class="content">
            <div class="description">
              "Best recipe finder on this side of the Mississippi"
            </div>
          </div>
          <div class="extra content">
        <div class="ui large transparent left icon input">
          <span class="right floated">
          <i class="heart outline like icon"></i>
          2.95M likes
        </span>
        </div>
      </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui centered card">
          <div class="ui small circular bordered image">
            <img src="/images/avatar-3.png" />
          </div>
          <div class="content">
            <div class="description">
              "I don't think I'll ever go hungry again"
            </div>
          </div>
          <div class="extra content">
        <div class="ui large transparent left icon input">
          <span class="right floated">
          <i class="heart outline like icon"></i>
          1,734 likes
        </span>
        </div>
      </div>
        </div>
      </div>
    </div>
  </section>