<div class="ui main text container">
  <div class="center aligned">
  
        <div class="ui fluid action">
        <div class="ui big input focus">
        <input type="text" id="recipeName" placeholder="Name of Recipe">
        </div>
          <div class="ui big input focus">
            <input type="text" id="ing1" placeholder="Ingredient 1">
            <input type="text" id="ing1amount" placeholder="oz">
          </div>
          <div class="ui big input focus">
            <input type="text" id="ing2" placeholder="Ingredient 2">
            <input type="text" id="ing2amount" placeholder="oz">
          </div>
          <div class="ui big input focus">
            <input type="text" id="ing3" placeholder="Ingredient 3">
            <input type="text" id="ing3amount" placeholder="oz">
          </div>
          <div class="ui big input focus">
            <input type="text" id="ing4" placeholder="Ingredient 4">
            <input type="text" id="ing4amount" placeholder="oz">
          </div>
          <div class="ui big input focus">
            <input type="text" id="ing5" placeholder="Ingredient 5">
            <input type="text" id="ing5amount" placeholder="oz">
          </div>
          <div class="ui big input focus">
            <input type="text" id="ing6" placeholder="Ingredient 6">
            <input type="text" id="ing6amount" placeholder="oz">
          </div>
          <div class="ui big input focus">
            <input type="text" id="ing7" placeholder="Ingredient 7">
            <input type="text" id="ing7amount" placeholder="oz">
          </div>
          <div class="ui big input focus">
            <input type="text" id="ing8" placeholder="Ingredient 8">
            <input type="text" id="ing8amount" placeholder="oz">
            </div>
          <div class="ui big input focus">
            <input type="text" id="ing9" placeholder="Ingredient 9">
            <input type="text" id="ing9amount" placeholder="oz">
          </div>
          <div class="ui big input focus">
            <input type="text" id="ing10" placeholder="Ingredient 10">
            <input type="text" id="ing10amount" placeholder="oz">
          </div>
          <div class="ui big input focus">
            <input type="text" id="recipeSteps" placeholder="Recipe Steps">
          </div>
          <button
            class="huge ui button"
            type="submit"
            id="recipeButton"
          >Submit</button>
        </div>
      </div>
  </div>
</div>

<script scr="./"></script>