<div class="ui main text container">
  <div class="center aligned">
    <img class="ui centered medium bordered circular image" src="assets/img/pizza.png" />
    <form id="recipeForm">
      <div class="ui fluid action input huge">
        <input type="text" id="recipeSearch" placeholder="Find a recipe..." />
        <button
          class="ui button basic"
          type="submit"
          id="recipeButton"
        >Submit</button>
      </div>
    </form>
  </div>
</div>