    <div class="text-box">
      <h1>All the Recipes you Need</h1>
      <p>
        If you ever need a recipe or decide to share your recipes  with
        others, you're in the right place.
      </p>
      <a href="#" class="hero-btn">View Recipes</a>
    </div>
  </section>