<div class="ui main text container">
    <div class="center aligned">
        <h3>Recently added recipes:</h3>
        {{#if }}
            {{#each}} {{!--for 1st 3 recently added recipes--}}
            <div class="col-md-6 recipe-one">
               
            </div>
            {{/each}}
        {{/if}}
    </div>
</div>

<script scr="./"></script>