  <section class="recipe">
    <h1>Easiy Recipes to Start With</h1>
    <p>Get started on cooking with some popular choices by our community</p>

    <div class="row">
      <div class="recipe-col">
        <h3>Cookies</h3>
        <p>Big Fat Chewy Cookies</p>
      </div>
      <div class="recipe-col">
        <h3>Pizza</h3>
        <p>Perfect pepperoni piiz</p>
      </div>
      <div class="recipe-col">
        <h3>Cupcakes</h3>
        <p>Soft Sweet Cupcakes</p>
      </div>
    </div>
  </section>

<script src="./"></script>