<div class="text-center">
    <h2>{{recipeName}}</h2>
    <p>{{instruction}}</p>
    <p>{{ingreadiants}}</p>
  
    <p>created by {{user.name}}</p>
    <p>
    <button class="btn favorit-button">favorit this recipe!</button>
    </p>
</div>

