<section>
<div class="card text-white text-box solo">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="/images/cookies.webp" class="img-fluid" />
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
    </a>
  </div>
  <div class="card-header"><h1>Daniel's Cookies</h1></div>
  <div class="card-body">
    <h2 class="info-header">Let's start with the ingredients.</h2>
    <hr>
    <p class="card-text solo">2 cups all-purpose flour,
        ½ teaspoon baking soda,
        ½ teaspoon salt,
        1 cup packed brown sugar,
        ¾ cup unsalted butter (melted),
        ½ cup white sugar,
        1 egg,
        1 egg yolk,
        1 tablespoon vanilla extract,
        2 cups semisweet chocolate chips,
    </p>
    <hr>
    <h2 class="info-header">Now for the instructions.</h2>
    <hr>
    <p class="card-text solo">Step 1: Preheat the oven to 325 degrees F (165 degrees C). Grease cookie sheets or line with parchment paper.
      <br>
        Step 2: Sift flour, baking soda, and salt together; set aside.
      <br>
        Step 3: Beat brown sugar, melted butter, and white sugar with an electric mixer in a large bowl until smooth. Beat in egg, egg yolk, and vanilla until light and creamy; add flour mixture and stir until dough is just combined. Stir in chocolate chips.
      <br>
        Step 4: Drop spoonfuls of dough 3 inches apart onto the prepared baking sheets.
      <br>
        Step 5: Bake in the preheated oven until edges are golden, about 15 to 17 minutes. Cool on the cookie sheets briefly before transferring them to a wire rack to cool completely.
    </p>

  </div>
  <div class="card-footer">Posted on 11/14/22</div>
</div>
</section>