/*Make changes to better suit style of app*/
:root {
    --backgroundColor: rgb(0,128,128);
}

body{
  color: rgb(0, 0, 0);
}

#logout{
  background-color: rgb(0,128,128);
  color: rgb(0, 0, 0);
}

#logout:hover {
  background-color: rgb(110, 107, 107);
  color: rgb(0,128,128);
}

#addRecipe{
  background-color: rgb(0,128,128);
  color: rgb(0, 0, 0);
}

#addRecipe:hover {
  background-color: rgb(110, 107, 107);
  color: rgb(0,128,128);
}

#recentAdd{
  background-color: rgb(0,128,128);
  color: rgb(0, 0, 0);
}

#recentAdd:hover {
  background-color: rgb(110, 107, 107);
  color: rgb(0,128,128);
}

  